*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
    --transparent-white-heading: hsla(0, 0%, 100%, 0.6);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: var(--very-dark-blue);
}

.card-container{
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--dark-desaturated-blue);
    border-radius: 8px;
}

.card-container .card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 120px 20px 40px;
}

.card-container .card-info h1{
    font-size: 3rem;
    color: var(--white);
    font-weight: 700;
}

.card-container .card-info h1 span{
    color: var(--soft-violet);
}
.card-container .card-info p{
    font-size: 1.5rem;
    color: var(--transparent-white-paragraph);
    font-weight: 400;
    line-height: 1.5;
    margin-top: 20px;
}

.card-container .card-info .icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem;
}

.card-container .card-info .icons .icons-icon{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.icons .icons-icon h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

.icons .icons-icon p{
    margin-top: 10px;
}

.card-container .card-image{
    width: 100%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    background-image: linear-gradient(hsla(277, 64%, 61%, 0.5), hsla(277, 64%, 61%, 0.5)), url("images/image-header-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


